Makarenko_board/bin/Debug/net6.0/appsettings.Development.json
Makarenko_board/bin/Debug/net6.0/appsettings.json
Makarenko_board/bin/Debug/net6.0/Makarenko_board
Makarenko_board/bin/Debug/net6.0/Makarenko_board.deps.json
Makarenko_board/bin/Debug/net6.0/Makarenko_board.dll
Makarenko_board/bin/Debug/net6.0/Makarenko_board.pdb
Makarenko_board/bin/Debug/net6.0/Makarenko_board.runtimeconfig.json
Makarenko_board/bin/Debug/net6.0/Microsoft.OpenApi.dll
Makarenko_board/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
Makarenko_board/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Makarenko_board/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Makarenko_board/obj/Makarenko_board.csproj.nuget.dgspec.json
Makarenko_board/obj/Makarenko_board.csproj.nuget.g.props
Makarenko_board/obj/Makarenko_board.csproj.nuget.g.targets
Makarenko_board/obj/project.assets.json
Makarenko_board/obj/project.nuget.cache
Makarenko_board/obj/staticwebassets.pack.sentinel
Makarenko_board/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Makarenko_board/obj/Debug/net6.0/apphost
Makarenko_board/obj/Debug/net6.0/Makarenko_board.AssemblyInfo.cs
Makarenko_board/obj/Debug/net6.0/Makarenko_board.AssemblyInfoInputs.cache
Makarenko_board/obj/Debug/net6.0/Makarenko_board.assets.cache
Makarenko_board/obj/Debug/net6.0/Makarenko_board.csproj.AssemblyReference.cache
Makarenko_board/obj/Debug/net6.0/Makarenko_board.csproj.CopyComplete
Makarenko_board/obj/Debug/net6.0/Makarenko_board.csproj.CoreCompileInputs.cache
Makarenko_board/obj/Debug/net6.0/Makarenko_board.csproj.FileListAbsolute.txt
Makarenko_board/obj/Debug/net6.0/Makarenko_board.dll
Makarenko_board/obj/Debug/net6.0/Makarenko_board.GeneratedMSBuildEditorConfig.editorconfig
Makarenko_board/obj/Debug/net6.0/Makarenko_board.genruntimeconfig.cache
Makarenko_board/obj/Debug/net6.0/Makarenko_board.GlobalUsings.g.cs
Makarenko_board/obj/Debug/net6.0/Makarenko_board.MvcApplicationPartsAssemblyInfo.cache
Makarenko_board/obj/Debug/net6.0/Makarenko_board.MvcApplicationPartsAssemblyInfo.cs
Makarenko_board/obj/Debug/net6.0/Makarenko_board.pdb
Makarenko_board/obj/Debug/net6.0/project.razor.json
Makarenko_board/obj/Debug/net6.0/staticwebassets.build.json
Makarenko_board/obj/Debug/net6.0/ref/Makarenko_board.dll
Makarenko_board/obj/Debug/net6.0/refint/Makarenko_board.dll
.vscode/launch.json
.vscode/tasks.json
